<?xml version="1.0" ?>
<robot name="flat_plane">
  <link name="plane_link">
    <visual>
      <geometry>
        <box size="1 1 0.001" />
      </geometry>
      <material name="gray">
        <color rgba="0.5 0.5 0.5 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="1 1 0.001" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </inertial>
  </link>
</robot>
